#root .signIn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root button {
    margin-top: 15px;
}

#root .signUpButton {
    margin-top: 15px;
}

.signIn {
    text-align: center;
    border-left: #2b772b 7px solid;
    background-color: #cdfdcd;
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.ui.label {
    width: 6em;
}


.textField {
    text-align: left;
    width:300px;
}

#logo {
    height: 150px;
    width: auto;
}

#wrap {
    display: flex;
}

#root .signInForm {
    display: inline-block;
}
