#root .recipes .fillerRecipe {
    width: 100px;
    border-radius: 10px;
    /* border: 1px solid gray; */
    margin: 10px;
    cursor: pointer;
}

#root .recipes .fillerRecipe:hover {
    box-shadow: 5px 5px 10px lightgray;
}