#root .signUp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root .signUp button {
    margin-top: 15px;
}

#root .signInButton {
    margin-top: 25px;
}

#root .signUp p {
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 15px;
}

#root .signUpForm {
    display: inline-block;
}

.signUp {
    border-left: #2b772b 7px solid;
    background-color: #cdfdcd;
    padding: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
