button {

}

.card {
  height: 200px;
  width: 300px;
  margin: 40px;
  border: 1px solid black;
}
.text {
  background-color: white;
  margin-top: -20px;
  white-space: nowrap;
}
.moreInfo {
  position: relative;
  width: 50px;
  height: 50px;
  top: 130px;
  left: 240px;
}
#popup {
  position: fixed;
  border: 1px solid black;
  top: 5%;
  background-color: white;
  width: 40%;
  left: 30%;
  z-index: 10;
  padding: 10px;
  border-radius: 15px;
  line-height: 1.4;
}
.popupImg {
  float: left;
  border-radius: 15px;
  padding: 10px;
}

.close {
  text-align: center;
  margin-left: 45%;
}
